<header class="cyber-header">
  <div class="logo">cyber</div>

  <div class="search-container">
    <img src="assets/search.svg" />
    <input type="text" placeholder="Search" class="search-input">
  </div>

  <nav class="nav-links">
    <a href="#" class="nav-item active">Home</a>
    <a href="#" class="nav-item">About</a>
    <a href="#" class="nav-item">Contact Us</a>
    <a href="#" class="nav-item">Blog</a>
  </nav>

  <div class="user-actions">
    <button class="action-btn">
      <img src="/assets/favorites.svg" width="24" height="24" alt="Favorites" />
    </button>

    <button class="action-btn">
      <img src="assets/сart.svg" width="24" height="24" alt="cart" />
    </button>

    <button class="action-btn">
      <img src="assets/profile.svg" width="24" height="24" alt="profile"/>
    </button>
  </div>
</header>
